@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 40%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;
    --border-color: 0, 0, 0;
    --bg-color: rgba(0, 0, 0, 0.5);
  }

  [data-theme='dark'] {
    --body-color: hsl(var(--hue), var(--sat), 3%);
    --container-color: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 56%);
    --title-color: hsl(var(--hue), var(--sat), 90%);
    --title-color-dark: #fff;
    --border-color: 255, 255, 255;
    --bg-color: rgba(255, 255, 255, 0.1);
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

}

@layer components {

  html {
    @apply scroll-smooth;
  }

  .section {
    @apply pt-8 sm:pt-24 pb-8;
  }

  .title {
    @apply text-3xl md:text-4xl text-title-color text-center font-semibold;
  }

  .scroll:hover .wheel {
    @apply animate-wheel;
  }

  .btn:hover .btnIcon {
    @apply translate-x-1;
  }

  .laChild:last-child .lChild {
    @apply hidden;
  }

  b {
    @apply font-medium text-title-color;
  }

}



.swiper-pagination-bullet {
  background: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background: var(--title-color) !important;
}

