@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
  
    /*========== Colors ==========*/
    /*Color mode hex #RRGGBB */
    
    --title-color: 	#333333;
    --title-color-dark: #000;
    --text-color: #666666;
    --body-color: #fafafa;
    --container-color: #fff;
    --border-color: 0, 0, 0;
    --bg-color: rgba(0, 0, 0, 0.5);
    --scrollBar-color: #f0f0f0;
  }

  [data-theme='dark'] {
    --title-color: #d9d9d9;
    --title-color-dark: #fff;
    --text-color: #999999;
    --body-color: #080808;
    --container-color: #000;
    --border-color: 255, 255, 255;
    --bg-color: rgba(255, 255, 255, 0.1);
    --scrollBar-color: #121212;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

    ::-webkit-scrollbar {
      width: 0.7rem;
      background: var(--scrollBar-color);
      border-left: 1px solid rgba(var(--border-color), 0.05);
    }

  ::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 0.3rem;
  }

}

@layer components {

  section {
    @apply pt-8 sm:pt-24 pb-8;
  }

  .title {
    @apply text-3xl md:text-4xl text-title-color text-center font-bold;
  }

  .subTitle {
    @apply block mb-16 text-text-color text-center;
  }

  b {
    @apply font-medium text-title-color;
  }

}

.swiper-pagination-bullet {
  background: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background: var(--title-color) !important;
}